<!DOCTYPE html>
<!-- This template is used to create a wood frame to hold blank cards -->
<!-- 6.2px per mm -->
<!-- expected screen display: 1920 x 1080 -->
<!-- expected wood frame size: 300mm (1860px) x 200mm (1240px) -->
<!-- Biz Card dimensions: 86mm (533px) x 54mm (335px) -->
<html lang="en">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./style.css">
	<link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body style="padding: 0; margin: 0;">
    <div style="border: 1px solid black; width: 1860px; height: 1950px; padding: 5px;">
      <table>
        <tr>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 35px;"></div>
          </td>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 60px;"></div>
          </td>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 60px;"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 35px;"></div>
          </td>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 60px;"></div>
          </td>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 60px;"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 35px;"></div>
          </td>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 60px;"></div>
          </td>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 60px;"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 35px;"></div>
          </td>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 60px;"></div>
          </td>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 60px;"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 35px;"></div>
          </td>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 60px;"></div>
          </td>
          <td>
            <div style="width: 533px; height: 335px; border: 1px solid black; background: #000; margin: 25px; margin-left: 60px;"></div>
          </td>
        </tr>
      </table>
    </div>
	  <script src="index.js"></script>
  </body>
</html>
